<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop name="support-ticket" class="SupportTicket\Loop\SupportTicket"/>
    </loops>

    <forms>
        <form name="support_ticket.front.create" class="SupportTicket\Form\SupportTicketFrontCreateForm"/>
        <form name="support_ticket.create" class="SupportTicket\Form\SupportTicketCreateForm"/>
        <form name="support_ticket.update" class="SupportTicket\Form\SupportTicketUpdateForm"/>
    </forms>

    <hooks>
        <hook id="supportticket.hook" class="SupportTicket\Hook\ManagerHook" scope="request">
            <!-- front -->
            <tag name="hook.event_listener" event="account.additional" />

            <!-- back -->
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" />

        </hook>
    </hooks>

</config>
