{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
  {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
  {$breadcrumbs = [
  ['title' => {intl l="Account"}, 'url'=>{url path="/account"}],
  ['title' => {intl l="Support" d="supportticket.fo.default"}, 'url'=>{url path="/account/comments"}]
  ]}
{/block}

{block name="body-class"}page-account-supportticket{/block}

{block name="main-content"}
<div class="main">

  <article class="col-main" role="main" aria-labelledby="main-label">

    <h1 id="main-label" class="page-header">{intl l="Support" d="supportticket.fo.default"}</h1>

    {$customer_id={customer attr="id"}}
    {$orders=[]}
    {$products=[]}
    {loop type="order" name="customer.orders" customer={$customer_id} limit="20" order="create-date-reverse" status="2,3,4"}
        {$order=$ID}
        {$orders[]=['id' => $ID, 'ref' => $REF]}
        {loop type="order_product" name="order-products" order=$ID}
            {$products[]=['id' => $ID, 'order' => $order, 'ref' => $REF, 'title' => $TITLE]}
        {/loop}
    {/loop}

    <div class="support-ticket-new well">

        <button id="support-product-form-trigger" class="btn btn-default">{intl l="New question" d="supportticket.fo.default"}</button>
        <br>

        {form name="support_ticket.front.create"}
            <form id="support-product-form" method="post" action="{url path="/module/SupportTicket/create"}" {form_enctype form=$form}>

                {form_hidden_fields form=$form}

                {form_field form=$form field="customer_id"}
                    <input type="hidden" name="{$name}" value="{$customer_id}" />
                {/form_field}


                {form_field form=$form field="order_id"}
                <div class="form-group">
                    <label>{$label}</label>
                    <select name="{$name}" id="support-order-id" class="form-control" {$attr}>
                        <option value="">{intl l="No order" d="supportticket.fo.default"}</option>
                        {foreach $orders as $order}
                            <option value="{$order.id}">{$order.ref}</option>
                        {/foreach}
                    </select>
                </div>
                {/form_field}

                {form_field form=$form field="order_product_id"}
                <div id="support-product-container" class="form-group">
                    <label>{$label}</label>
                    <select name="{$name}" id="support-product-id" class="form-control" {$attr}>
                        <option value="">{intl l="No product" d="supportticket.fo.default"}</option>
                        {foreach $products as $product}
                            <option value="{$product.id}" data-order="{$product.order}">{$product.title} ({$product.ref})</option>
                        {/foreach}
                    </select>
                </div>
                {/form_field}

                {form_field form=$form field="subject"}
                <div class="form-group">
                   <label>{$label}</label>
                   <input type="text" name="{$name}" value="{$value}" class="form-control" {$attr}>
                </div>
                {/form_field}

                {form_field form=$form field="message"}
                <div class="form-group">
                    <label>{$label}</label>
                    <textarea name={$name} class="form-control" {$attr}>{$value}</textarea>
                </div>
                {/form_field}

                <div class="form-group">
                    <input type="submit" class="btn btn-validate" value="{intl l='validate' d='supportticket.fo.default'}" />
                </div>

            </form>
        {/form}

    </div>

    {flash type="supportticket-message"}
        {* Display error message if exist *}
        <div class="alert alert-info">
            {$MESSAGE}
        </div>
    {/flash}

    {ifloop rel="support-ticket"}
    <div class="support-ticket-list list-group">
        {loop name="support-ticket" type="support-ticket" customer_id={$customer_id} status="0,1" order="id-reverse" }
        <div class="support-ticket-item list-group-item">
            <h4>{$SUBJECT}</h4>
            <p>
                {intl l="on %date" d="supportticket.fo.default" date={format_date date=$UPDATE_DATE output="date"} }
                {if $ORDER_ID}
                    {intl l=", order: " d="supportticket.fo.default"}
                    {loop name="order" type="order" id=$ORDER_ID limit="1"}{$REF}{/loop}
                {/if}
                {if $ORDER_PRODUCT_ID}
                    {intl l=", product: " d="supportticket.fo.default"}
                    {loop name="order_product" type="order_product" order=$ORDER_ID id=$ORDER_PRODUCT_ID limit="1"}{$TITLE} ({$REF}){/loop}
                {/if}
                <br/>
                <a href="{url path="/module/SupportTicket/delete/$ID"}">
                    {intl l="Delete this question" d="supportticket.fo.default"}</a>
            </p>

            <div class="row">
                <div class="suport-ticket-item-message alert alert-success col-md-8 col-md-offset-1">
                    <p>
                        {$MESSAGE}
                    </p>
                </div>
                {if $RESPONSE}
                <div class="suport-ticket-item-response alert alert-info col-md-8 col-md-offset-3">
                    <p>
                        {intl l="replied on %date" d="supportticket.fo.default" date={format_date date=$REPLIED_AT output="date"} }
                    </p>
                    <p>
                        {$RESPONSE}
                    </p>
                </div>
                {/if}
            </div>
        </div>
        {/loop}
    </div>
    {/ifloop}

    </article>

</div><!-- /.layout -->
{/block}

{block name="stylesheet"}
{/block}

{block name="after-javascript-include"}
{/block}

{block name="javascript-initialization"}
<script type="text/javascript">
{literal}

(function ($) {

    $(document).ready(function () {

        var $order = $('#support-order-id'),
            $productContainer = $('#support-product-container'),
            $product = $('#support-product-id'),
            $formTrigger =  $('#support-product-form-trigger')
            $form =  $('#support-product-form')
        ;

        $productContainer.hide();
        $form.hide();

        $formTrigger.on('click', function() {
            $form.show();
            $formTrigger.hide();
        });

        $order.on('change', function(ev){
            var $order = $(this),
                orderId = $order.val();

            if (orderId == '') {
                $product.val('');
                $productContainer.hide();
            } else {
                $product.val('');
                $product.find('option').each(function(){
                    var $option = $(this);

                    if ($option.attr('value') != '' && $option.data("order") != orderId) {
                        $option.css('display', "none");
                    } else {
                        $option.css('display', "");
                    }
                });
                $productContainer.show();
            }
        });

        $form.on('submit', function(e){

            e.preventDefault();

            var url = $form.attr("action");

            $.ajax({
                type: "POST",
                dataType: 'json',
                data: $form.serialize(),
                url: $form.attr('action')
            }).done(function(data, textStatus, jqXHR){
                var status;
                if (data.success) {
                    document.location.reload();
                } else {
                    bootbox.alert(data.message);
                }
            }).fail(function(jqXHR, textStatus, errorThrown){
                bootbox.alert(textStatus);
            });

        });

    });

})(jQuery);
{/literal}
</script>
{/block}
